
# Ignore these files
*.mbtiles
*.png
*.csv

# Ignore these folders
__pycache__
cache


# Don't ignore these files
libs/garden/garden.mapview/*
!libs/garden/garden.mapview/mapview
libs/garden/garden.mapview/mapview/*
!libs/garden/garden.mapview/mapview/__init__.py
!libs/garden/garden.mapview/mapview/mbtsource.py
!libs/garden/garden.mapview/mapview/view.py